 
.flexboxConatainer{
  display: flex;
  border: 1px solid black;
   
  background-color: wheat !important;
  /* flex-direction: column; */
  /* flex-direction: row; */
  /* flex-direction: column-reverse;
  flex-direction: row-reverse; */
  justify-content: center;
  /* text-align: center; */
  /* align-items: center; */
  align-items: start;
  /* align-items: end; */
  flex-wrap: wrap; /* best way to make resposnsibe   */
   
height: 400px;
}

.flexBox{
  background-color: red;
  border: 2px solid black;
   width: 40px;
  margin: 20px;
  height: 40px;
}
.App{
  background-color: wheat !important;
}