<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, 
	initial-scale=1.0">
	<title>Document</title>
	<script src="index.js"></script>
</head>

<body>
	<button id="throttle">Click Me</button>

	
	<script>

		// let x = 20

		// function foo() {

		// 	console.log("zcsdscsd",x)

		// 	let x = 10

		// 	// console.log(x)

		// }

		// foo()




		function outer() {

			function inner() {
			  	 console.log(__11name)
			}

			 let __11name = 5
			 

			return inner
		}

		const inner = outer()

		inner()

		// debugger
		// for (var i = 0; i <= 3; i++) {

		// 	// const newFun = () => {

		// 		// return 
		// 		setTimeout(() => {
		// 			console.log(i)
		// 		}, 1000)

		// 	// }
		// 	// newFun()

		// }

		// console.log("var",samm)
		// console.log("let",sam)



		 

		// let sam = "sam"

		// var samm = "sam"


	</script>





</body>

</html>